* {
  box-sizing: border-box;
}

body {
    text-align: center;
    color: #000;
    justify-items: center;
    margin: 0px;
}

header {
    padding: 29px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-image: url(../img/Header_Night.png);
    font-size: 30px;
    color: #000000;
}

h1{
    font-family: "Bitcount Grid Double";
    font-weight: 500;
    font-size: 40px;
}