/**Variables**/
:root{
    --night: #101966;
    --nightClaro: #3f4689 ;
    --Fprincipal: "Bitcount Grid Double";
    --Fsecundaria: "Cause";
    --ColTitulo: #fbea2f;
}

/**GLOBALES**/
* {
  box-sizing: border-box;
}

body {
    text-align: center;
    color: #000;
    justify-items: center;
    margin: 0px;
    background-image: url(../img/Body_Night.png);
    background-repeat: no-repeat;
    background-size:cover;
}

h1{
    font-family: var(--Fprincipal);
    font-weight: 500;
    font-size: 35px;
}

header {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    /*background-image: url(../img/Header_Night.png);*/
    color: var(--ColTitulo);
    margin-bottom: 0%;
    
    -webkit-app-region: drag;
}

h2{
    font-size: 20px;
    font-family: var(--Fsecundaria);
}

label{
    font-family: var(--Fsecundaria);
    font-size:medium;
}

.close{
    padding: 0%;
    margin: 0%;
    margin-left: 90%;
    background-color: var(--night);
    border: none;
    text-decoration: none;
    display: inline-block;
}

/*Index*/
.btn_add_night{
    background-color: var(--night);
    text-decoration: none;
    color: #fff;
}

.tarea-nombre.completada {
    text-decoration: line-through;
    opacity: 0.5;
}

.taskDiv{
    height: 40px;
    width: 250px;
    border: 1px solid var(--nightClaro);
    border-radius: 5px;
    margin: 0%;
    margin-bottom: 1px;
    padding: 3.5%;

    text-align: left;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;
}

.taskDiv:hover{
    border: 2px solid var(--nightClaro);
}

.tarea-label{
    color: #fff;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
}

.filtros{
    margin-bottom: 5px;
}


/*Form*/
.day-btn { 
    border: 1px solid #ccc; 
    border-radius: 6px; 
    padding: 6px 10px; 
    cursor: pointer; 
    background: white; 
}

.day-btn:hover{
    background-color: var(--nightClaro);
    color: #fff;
}

.day-btn.active{
    background-color: #101966;
    color: #fff;
}